@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}

/* ============ */
.inputs {
  display: flex;
  flex-direction: column;
  width: 400px;
}

#content {
  height: 50px;
}
.postspage, .registerpage, .loginpage, .searchpage, .homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.postsForm {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: auto;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  gap: 10px;
}

.postspage header, .registerpage header, .loginpage header, .searchpage header, .homepage header {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  height: 24px;
  width: 120px;
}

#postar, #registrar, #logar, #pesquisar {
  border: none;
  background-color: rgba(0, 195, 255, 0.774);
  color: #fff;
  padding: 8px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
}

/* =========================== */
.signup, .signin, .search-container {
  border: 1px solid #000;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.registerpage form, .loginpage form, .postspage form, .searchpage form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.signup h1, .signin h1, .search-container h1 {
  text-align: center;
}

.inputs input {
  width: 100%;
  padding: 8px 5px 8px 5px;
  outline: none;
}

/* =============== */
#errPassword, #errEmail {
  display: none;
  color: #ff0000;
  background-color: #ff000049;
  text-align: center;
  padding: 8px 5px 8px 5px;
  border-radius: 5px;
}

#already {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 5px;
}

#already a {
  color: #000;
}

.mensagem_err {
  display: none;
  display: flex;
  width: 100%;
}

.msn_erro {
  display: none;
  color: #ff0000;
  background-color: #ff000049;
  text-align: center;
  padding: 8px 5px 8px 5px;
  border-radius: 5px;
  width: 100%;
}

/* ================ */

.content-pesquisa, .content-error {
  display: none;
  border: 1px solid #000;
  border-radius: 10px;
  width: 500px;
  min-width: 50%;
  padding: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.content-error {
  justify-content: center;
}

.content-pesquisa img {
  width: 400px;
  height: 400px;

}

/* ================ */

.center-header ul, .right-header ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
  font-weight: 800;
}
.left-header{
  padding: 5px;
}
.center-header ul li, .right-header ul li {
  padding: 5px;
}

.center-header ul li:hover, .right-header ul li:hover{
  border-radius: 5px;
  background-color: rgba(94, 98, 105, 0.1);
}


.homepage h1 {
  font-size: 40px;
}

.homepage {
  background-image: url('./pages/Model-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
  width: 100vw;
  height: 100vh;
}

.top-banner {
  background-color: #fff;
  width: 100%;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botoes {
  position: absolute;
  display: flex;
  gap: 50px;
  width: 500px;
  top: 90%;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
}

.order a {
  background-color: #171a20cc;
  color: #fff;
  padding: 15px 24px;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

.demo a {
  background-color: #fff;
  color: #000;
  padding: 15px 24px;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

.order, .demo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
}

.right-header a{
  color: #000;
  text-decoration: none;
}